
.left-curtain {
    position: absolute;
    width: 50%;
    left: 0;
    height: 100vh;
    z-index: 100;
    margin-top: -10vh;
    background-size: cover;
}

.right-curtain {
    position: absolute;
    width: 50%;
    right: 0;
    height: 100vh;
    z-index: 100;
    margin-top: -10vh;
    background-size: cover;
}

.rope {
    position: absolute;
    right: 10vw;
    top: -20vh;
    width: 96px;
    background-size: cover;
    height: 1000px;
    z-index: 200;
    cursor: pointer;
}

.rope:hover {
    opacity: .6;
}

.left-curtain-move {
    animation-name: left-curtain;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.right-curtain-move {
    animation-name: right-curtain;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.rope-pull {
    animation-name: rope-pull;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes left-curtain {
    0%   {left:0px;}
    100% {left:-50vw;}
}

@keyframes right-curtain {
    0%   {right:0px;}
    100% {right:-50vw;}
}

@keyframes rope-pull {
    0%   {top:-20vh;}
    50% {top:-10vh;}
    75% {top:-20vh;}
    100% {visibility: hidden;}
}

.curtain-container {
    display: flex;
    justify-content: center;
    height: 90vh;
}

.plinko-container {
    z-index: 10;
    padding: 2px;
    scale: .8;
}

.res-string {
    color: white;
}

.curtain-content {
    z-index: 10;
}

.plinko-characters {
    display: flex;
    justify-content: center;
    margin-left: -20px;
    margin-top: -24px;
}

.plinko-character {
    width: 20px;
    height: 20px;
    color: #aaaaaa;
    outline: 1px solid #959698;
    outline-offset: -1px;
}

.logout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f6ebcb99;
    height: 100%;
    width: 100vw;
}

.login{
    display: flex;
    background-color: #f6ebcb99;
    height: 100%;
}

.login-fields {
    display: flex;
    flex-direction: column;
    width: 20vw;
    align-items: center;
    font-size: larger;
    padding-top: 100px;
}

.login-field {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-bottom: 5px;
}

.plinko-container > button, .logout > button {
    width: 200px;
    height: 50px;
    font-size: 20px;
    margin-bottom: 20px;
}

.info {
    font-size: small;
    color: red;
}