
.left-curtain {
    position: absolute;
    width: 50%;
    left: 0;
    height: 100vh;
    z-index: 100;
    top: 0;
    background-size: cover;
}

.right-curtain {
    position: absolute;
    width: 50%;
    right: 0;
    height: 100vh;
    z-index: 100;
    top: 0;
    background-size: cover;
}

.rope {
    position: absolute;
    right: 10vw;
    top: -20vh;
    background-size: cover;
    height: 100vh;
    aspect-ratio: 241 / 2319;
    z-index: 200;
    cursor: pointer;
}

.rope:hover {
    opacity: .6;
}

.left-curtain-move {
    animation-name: left-curtain;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.right-curtain-move {
    animation-name: right-curtain;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.rope-pull {
    animation-name: rope-pull;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes left-curtain {
    0%   {left:0px;}
    100% {left:-50vw;}
}

@keyframes right-curtain {
    0%   {right:0px;}
    100% {right:-50vw;}
}

@keyframes rope-pull {
    0%   {top:-20vh;}
    50% {top:-10vh;}
    75% {top:-20vh;}
    100% {visibility: hidden;}
}
